<nav class="navbar navbar-expand-md navbar-light bg-half-visible fixed-top d-none d-md-flex justify-content-between">
    <div class="pl-0 pl-xl-5">
        <ul class="navbar-nav mr-auto">
            <ng-container *ngFor="let navItem of navItems;let i = index">
                <li class="nav-item mx-1 mx-xl-3" [ngClass]="{'active': i==0, 'dropdown': navItem.isDropDownList}">
                    <a *ngIf="navItem.isDropDownList == false; else dropDownList" class="nav-link" [href]="navItem.link">{{navItem.title}} <span *ngIf="i==0" class="sr-only">(current)</span></a>
                    <ng-template #dropDownList>
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            {{navItem.title}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <ng-container *ngFor="let dropDownItem of navItem.dropDownItemList">
                                <a class="dropdown-item" [href]="dropDownItem.link">{{dropDownItem.title}}</a>
                            </ng-container>
                        </div>
                    </ng-template>
                </li>
            </ng-container>
        </ul>
    </div>
    <div>
        <a class="navbar-brand" href="#">{{title}}</a>
    </div>
    <div class="pr-0 pr-xl-5">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top d-flex d-md-none">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <ng-container *ngFor="let navItem of navItems;let i = index">
                <li class="nav-item" [ngClass]="{'active': i==0, 'dropdown': navItem.isDropDownList}">
                    <a *ngIf="navItem.isDropDownList == false; else dropDownList" class="nav-link" [href]="navItem.link">{{navItem.title}} <span *ngIf="i==0" class="sr-only">(current)</span></a>
                    <ng-template #dropDownList>
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            {{navItem.title}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <ng-container *ngFor="let dropDownItem of navItem.dropDownItemList">
                                <a class="dropdown-item" [href]="dropDownItem.link">{{dropDownItem.title}}</a>
                            </ng-container>
                        </div>
                    </ng-template>
                </li>
            </ng-container>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>